!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MarathonStream
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    %nav
      .title
        = content_for :nav_title
      .sudo
        - if defined? twitch_channel
          = link_to("Home", root_path(_sudo: ""))
        - else
          = link_to("Helix", root_path(_sudo: "helix"))
    %main
      = content_for?(:content) ? yield(:content) : yield
