!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      MarathonStream
      = content_for?(:nav_title) ? " - #{yield(:nav_title)}" : ""
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    %link{rel: "icon", href:"data:,"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    %header
      %nav.page-header
        .sudo
          = link_to("Home", root_url(subdomain_p => ""))
          - Twitch::Channel.find_each do |channel|
            = link_to(channel, root_url(subdomain_p => channel))
        .title
          = content_for :nav_title
          = current_session
        .login
          - if current_session.authenticated?
            = button_to "/session", method: :delete do
              = "Logout"
          - else
            = button_to "Login (Twitch)", "/auth/twitch", data: { turbo: false }
    - if content_for?(:before_content)
      = yield(:before_content)
    %main
      = content_for?(:content) ? yield(:content) : yield
