!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MarathonStream
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    %header
      %nav
        .sudo
          - if defined? twitch_channel
            = link_to("Home", root_path(_sudo: ""))
          - else
            - Twitch::Channel.find_each do |channel|
              = link_to(channel, root_path(_sudo: channel))
        .title
          = content_for :nav_title
          = current_session
        .login
          - if current_session.authenticated?
            = button_to "Logout", "/session", method: :delete
          - else
            = link_to "Login", "/session"
    %main
      .session
        = session.to_h
      = content_for?(:content) ? yield(:content) : yield
